<app-auth-background class="sign-in">
  <form class="sign-in__form" [formGroup]="form" (ngSubmit)="submit()" [class.add]="isAzureAuth">
    <div class="sign-in__form__header">
      <app-auth-logo></app-auth-logo>
    </div>

    <!-- <ng-container *ngIf="!isAzureAuth">
      <div class="sign-in__form__control">
        <label for="email">
          E-mail
          <app-validate-message *ngIf="email.touched && email.dirty && email.invalid">
            Invalid address
          </app-validate-message>
        </label>
        <input id="email" type="email" formControlName="email" placeholder="email@example.com" maxlength="50">
      </div>

      <div class="sign-in__form__control sign-in__form__password-wrapper">
        <label>Password</label>
        <app-auth-password-input formControlName="password"></app-auth-password-input>
      </div>
    </ng-container> -->

    <div style="background-color: #ffffff; padding: 20px; border-radius: 8px; font-family: Arial, sans-serif; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); max-width: 600px; margin: 0 auto;">
      <p style="font-size: 16px; color: #333; line-height: 1.5;">
        The <strong>OMOP CDM Tool</strong> is a comprehensive platform designed to help users work with healthcare data in the OMOP Common Data Model (CDM) format.
      </p>
    </div>
    



    <app-auth-error-message *ngIf="error" class="sign-in__form__error"
                            [style.top]="errorTop"
                            [message]="error"></app-auth-error-message>

    <div class="sign-in__form__submit">
      <button type="submit" [disabled]="loading" [class.spinner]="loading">Login</button>
    </div>

    <!-- <div *ngIf="!isAzureAuth" class="sign-in__form__redirect">
      <a [routerLink]="['/sign-out']">Register1234</a>
      <span>|</span>
      <a [routerLink]="['/recover-password']">Forgot Password ?</a>
    </div> -->
  </form>
</app-auth-background>
